<h1>Welcome to おま環.com</h1>

<%= form_with url: '', method: :get,  local: true, id: 'form', data: {'controller': "index"} do |form| %>
<div>ダウンしているか知りたいドメイン名を入力してください。</div>
<input id="domain" placeholder="google.com" data-action="index#update" />
<%= form.submit "Search", name: nil %>
<% end %>
